@model IEnumerable<DemoAdminLTE.Models.Station>

@{
    ViewBag.Title = Pages.HomeIndex;
    ViewBag.Description = Pages.HomeIndexDescription;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-solid">

            <div class="box-header with-border">
                <h3 class="box-title">@Strings.StationMap</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body no-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="no-pad">
                            <div id="map" style="height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJs
{
    <!--

    <script>
    </script>

    <script async defer src="" type="text/javascript"></script>

    -->
}

@section ViewSpecificCss
{
    <!--

    <style>
    </style>

    -->
}