@model DemoAdminLTE.Models.SampleTime

@{
    ViewBag.Title = Pages.ValueDelete;
}

<div class="alert alert-danger" role="alert">
    <strong>@Strings.Warning </strong>
    @Strings.WarningDelete
</div>

@Html.Partial("_form_delete", Model)
