@{
    ViewBag.Title = Pages.StationIndex;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                @Html.Partial("_GridSearchHeader")
            </div>

            <div class="box-body">
                @Html.AjaxGrid(Url.Action("GridSearch"))
            </div>

        </div>
    </div>
</div>

@section ViewSpecificJs {
    <script>
        document.getElementById('grid-search').addEventListener('input', function () {
            var grid = new MvcGrid(document.querySelector('.mvc-grid'));
            grid.query.set('search', this.value);
            grid.reload();
        });
        document.addEventListener('reloadend', function (e) {
            document.getElementById('data-total').innerText = document.getElementById('totalRows').innerText;
        });
    </script>
}
