@{
    ViewBag.Title = Pages.TransactionDashboard;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                Dashboard
            </div>

            <div class="box-body">
                <p>@ViewBag.DataTotal</p>
            </div>

        </div>
    </div>
</div>