@model IEnumerable<DemoAdminLTE.Models.Transaction>

@{
    Layout = null;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Device_Name);
        columns.Add(model => model.Product_Name);
        columns.Add(model => model.Product_SKU);
        columns.Add(model => model.Product_UnitType);
        columns.Add(model => model.Quantity);
        columns.Add(model => model.Product_UnitPrice);
        columns.Add(model => model.Product_TotalPrice);
        columns.Add(model => model.Product_CurrencyUnit);

        columns.Add(model => model.Note);

        columns.Add(model => model.CreationDate).RenderedAs(model => model.CreationDate.ToUniversalTime().Humanize()).Sortable(true);

        columns.Add(model => "<a href='" + Url.Action("Details", "Transaction", new { id = model.Id }) + "' class='label label-info'><span class='glyphicon glyphicon-eye-open'></span> " + Actions.Details + "</a> " +
                                "<a href='" + Url.Action("Delete", "Transaction", new { id = model.Id }) + "' class='label label-danger'><span class='glyphicon glyphicon-remove'></span> " + Actions.Delete + "</a>").Encoded(false).Sortable(false);
    })
    .Empty(Strings.NoData)
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, Strings.All }, { 20, "20" }, { 50, "50" }, { 100, "100" }, { 500, "500" } };
        pager.ShowPageSizes = true;
        //pager.PagesToDisplay = 3;
        //pager.CurrentPage = 2;
        pager.RowsPerPage = 20;
    })
    .AppendCss("table-hover")
)
