@model DemoAdminLTE.ViewModels.ChangePasswordView

@{
    Layout = null;
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.FormHorizontalPasswordFor(model => model.OldPassword)
    @Html.FormHorizontalPasswordFor(model => model.NewPassword)
    @Html.FormHorizontalPasswordFor(model => model.ConfirmPassword)

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-warning">@Actions.Save</button>
        </div>
    </div>
}
