/* language-menu */
.navbar-nav > .language-menu > .dropdown-menu {
  width: 140px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .language-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .language-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .language-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .language-menu > .dropdown-menu > li.footer > a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .language-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: 2px 10px auto auto;
  width: 40px;
  height: 27px;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}
.navbar-nav > .language-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}

/* main-footer */
.main-footer {
    font-size: 12px;
    color: #999;
}

.register-box {
    margin: 20px auto;
}

/* tree */
.treeview-menu > li > a > .menu-sub:before {
    content: "";
}

.treeview-menu > li.active > a > .menu-sub:before {
    content: "\f3d1";
}
